body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex; /* Use flexbox para centralizar verticalmente */
    flex-wrap: wrap;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    text-align: left;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

form {
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

input[type="text"],
input[type="number"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4422;
}

#resultados {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

pre {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 14px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%; /* Reduz a largura máxima */
    }

    input[type="text"],
    input[type="number"] {
        width: 100%; /* Alterado para 100% em telas menores */
    }
}